.TheLooney {
  z-index: 5;
  height: 100px;
  width: 100px;
  position: fixed;
  right: 160px;
  margin-left: 50px;
}

.pennywise {
  height: 100%;
  width: 100%;
}

.lollipop {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  position: absolute;
  top: 48%;
  left: 25%;
  width: 25%;
  &:last-of-type{
    left: 51%;
  }
}

@keyframes lollipop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}