@use "../../styles/colors";

.main {
  background-color: lightgray;
  margin: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

.GoBack {
  background-color: colors.$primary-color;
  border-radius: 10px;
  border: #fff8fd 2px solid;
  margin: 10px;
  height: 2em;
  width: 15%;
  font-weight: 500;
}
.ProductDiv {
  display: flex;
  justify-content: space-around;
  margin: 60px 8% 0 8%;
}