@use "../../styles/colors";

.container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main {
  background-color: lightgray;
  margin: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

.GoBack {
  background-color: colors.$primary-color;
  border-radius: 10px;
  border: #fff8fd 2px solid;
  margin: 10px;
  height: 2em;
  width: 15%;
  font-weight: 500;
}
.ProductDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}