.main {
  min-width: 30vw;
  position: relative;
  top: 20px;
  right: 30px;
}

.Button {
  margin-right: 10px;
}

.button {
  margin-right: 5px;
}

.purchaseButtons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: auto;
}