@import "../../styles/colors";

.footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  margin-top: 80px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}