.lolliesImg {
  position: relative;
  bottom: 40px;
  left: 40px;
  display: flex;
  margin: 60px auto 60px;
  border-radius: 7px;
  width: 26vw;
  height: 30vh;
  margin-right: 10px;
  object-fit: cover;
}

.favouriteOutline {
  position: absolute;
  right:  calc(62.6vw - 6px);
  top: calc(32.3vh - 6px);
  width: 57px;
}

.Favourite {
  position: absolute;
  right: 62.6vw;
  top: 32.3vh;
  width: 45px;
  filter: invert(90%) sepia(5%) saturate(708%) hue-rotate(304deg) brightness(98%) contrast(108%);
}

.notFavourite {
  position: absolute;
  right:  calc(62.6vw - 6px);
  top: calc(32.3vh - 6px);
  width: 57px;
}

